@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  display: none;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  background-color: #7f5af0;
  padding: 1.5rem;
}

html.light body {
  background-color: #f9fafb;
}
html.dark body {
  background-color: #111827;
}

.rtl {
  direction: rtl;
}

/* TAB USABILITY */
html :focus {
  outline: 2px dashed #111827;
  z-index: 5;
}
html.dark :focus {
  outline: 2px dashed #f9fafb;
}

/* When mouse is detected, ALL focused elements have outline removed. */
html.using-mouse :focus {
  outline: none;
}

/* sonner toast always centered */
[data-sonner-toaster] {
  width: 356px !important;
  gap: 12px !important;
}

[data-sonner-toaster][data-x-position='center'] {
  left: 50% !important;
  transform: translate(-50%) !important;
}

/* CONTEXT MENU */
#contextMenu.show {
  animation-name: fadeIn;
  animation-delay: 0.01s;
  animation-fill-mode: forwards;
  animation-duration: 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.react-joyride__spotlight {
  box-shadow:
    rgba(0, 0, 0, 0.8) 0px 0px 0px 9999px,
    rgba(0, 0, 0, 0.8) 0px 0px 15px !important;
}
