@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  display: none;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  background-color: #f9fafb;
  padding: 1.5rem;
}

html.dark body {
  background-color: #111827;
}

.rtl {
  direction: rtl;
}

/* TAB USABILITY */
html :focus {
  outline: 2px solid #111827;
  z-index: 5;
}
html.dark :focus {
  outline: 2px solid #f9fafb;
}

/* When mouse is detected, ALL focused elements have outline removed. */
html.using-mouse :focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

html.dark *::-webkit-scrollbar-thumb {
  background-color: #898f9a;
}

/* sonner toast always centered */
[data-sonner-toaster] {
  width: 356px !important;
  gap: 12px !important;
}

[data-sonner-toaster][data-x-position='center'] {
  left: 50% !important;
  transform: translate(-50%) !important;
}

/* CONTEXT MENU */
#contextMenu.show {
  animation-name: fadeIn;
  animation-delay: 0.01s;
  animation-fill-mode: forwards;
  animation-duration: 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
